@import "./src/assets/private/base"; 

.list-content {
    @include base-border;
    min-height: 300px;
    max-width: 900px;
    height: fit-content;

    &__header {
        font-size: 24px;
        font-weight: 400;
        border-bottom: 1px solid $base-color;
    }
}

.filter-box {
    @include base-border;
    min-height: 300px;
    height: fit-content;

    &__header {
        font-size: 24px;
        font-weight: 400;
        border-bottom: 1px solid $base-color;
    }
}