<div class="container mt-4">
    <div class="accordion-group">
        <div class="accordion-header">Accordion1</div>
        <div class="accordion-content">
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header1.1</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header1.2</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header1.3</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-header">Accordion2</div>
        <div class="accordion-content">
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header2.1</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header2.2</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header2.3</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-header">Accordion3</div>
        <div class="accordion-content">
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header3.1</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header3.2</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="accordion-item" appToggleListDirective>
                <div class="accordion-item__header d-flex" appOpenToogleList>
                    <div class="ml-auto">Header3.3</div>
                    <i-bs
                        name="chevron-down"
                        class="text-primary accordion-item__toggler mr-auto d-block">
                    </i-bs>
                </div>
                <div class="accordion-item__content" appToogleList>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
        </div>
    </div>
</div>
