<div class="login-container p-5 w-100 h-100 d-flex">
    <div class="login-container__content m-auto p-3">
        <div class="login-container__content__header text-center pb-3">
            Logowanie
        </div>
        <form #loginForm="ngForm" class="my-5" (ngSubmit)="registerForm ? createAccount(loginForm.value) : loginUser(loginForm.value)"> 

            <!-- LOGIN -->
            <ng-container [ngTemplateOutlet]="loginInput" [ngTemplateOutletContext]="{loginInput:loginInput}"></ng-container>

            <!--  EMAIL -->
            <ng-container *ngIf="registerForm">
                <ng-container [ngTemplateOutlet]="registerInput" [ngTemplateOutletContext]="{registerInput:registerInput}"></ng-container>
            </ng-container>

            <!-- PASSOWRD -->
            <ng-container [ngTemplateOutlet]="passwordInput" [ngTemplateOutletContext]="{passwordInput:passwordInput}"></ng-container>

            <!-- REGISTER -->
            <div class="login-container__content__options d-flex my-3">
                <div class="mx-auto" (click)="registerForm = !registerForm">
                    {{registerForm ? "Logowanie" : "Załóż konto"}}
                </div>
            </div>

            <!-- SEND BUTTON -->
            <button type="submit" class="mt-auto base-button send-button" [disabled]="loginForm.invalid">
                {{registerForm ? "Zaloguj" : "Załóż konto"}}
            </button>




            <!-- TEMPLATES -->
            <ng-template #registerInput>
                <div class="form-control mt-3" [ngClass]="{'hasError': !!userEmail.errors && userEmail.touched}">
                    <input type="email" placeholder="Email" #userEmail="ngModel" ngModel required email name="userEmail" autocomplete="false">
                </div>
                <ng-template [ngIf]="userEmail.errors?.email && userEmail.touched">
                    <div class="error">Błędny format adresu email</div>
                </ng-template>
                <ng-template [ngIf]="userEmail.errors?.required && userEmail.touched">
                    <div class="error">Email jest obowiązkowy</div>
                </ng-template>
            </ng-template>
            
            <ng-template #loginInput >
                <div class="form-control mt-">
                    <input type="text" placeholder="Login" #userLogin="ngModel" ngModel name="userLogin" autocomplete="false" required minlength="6">
                </div>
                <ng-template [ngIf]="userLogin.errors?.minlength && userLogin.touched">
                    <div class="error">Login powinien posiadać co najmniej 6 liter</div>
                </ng-template>
                <ng-template [ngIf]="userLogin.errors?.required && userLogin.touched">
                    <div class="error">Login jest obowiązkowy</div>
                </ng-template>
            </ng-template>
            
            <ng-template #passwordInput>
                <div class="form-control mt-3" [ngClass]="{'hasError': !!userPassword.errors && userPassword.touched}">
                    <input type="password" placeholder="Hasło" #userPassword="ngModel" ngModel required name="userPassword" autocomplete="false" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                </div>
                <ng-template [ngIf]="userPassword.errors?.pattern && userPassword.touched">
                    <div class="error">Hasło powinno posiadać 6 liter, znak specjalny, małą oraz wielką literę </div>
                </ng-template>
                <ng-template [ngIf]="userPassword.errors?.required && userPassword.touched">
                    <div class="error">Hasło jest obowiązkowe</div>
                </ng-template>
            </ng-template>

        </form>
    </div>

</div> 


