@import "./src/assets/private/sass/colors"; 

form {
    input, textarea {
        &.base-input {
            border: 1px solid $base-color;
            border-radius: 15px;
        }
    
        &:focus {
            outline: none !important; 
            box-shadow: none;
        }
    }

    .form-group {
        .validation-feedback {
            padding-left: 14px;
            font-size: 12px;
            color: $danger-dark;
            margin-top: 4px;
        }
    }
}