@import "./src/assets/private/base"; 

.add-to-cart-container {
    &__foto {
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        height: 100px;
        @include base-border;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    &__button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 36px;
        min-height: 36px;
    }
}