@import "./src/assets/private/sass/colors"; 

.page-footer {
    background-color: $base-color;
    position: absolute;
    bottom: 0;
    width: 100%;

    &__header {
        text-transform: uppercase;
        color: white;
    }

    p, a {
        color: white;
    }

    &__part-content {
        text-align: center;
    }

    @media (max-width: 500px) {
        padding-top: 0 !important;

        p, hr {
            margin-bottom: 0;
        }

        &__part-content {
            margin-bottom: 0 !important;
        }
    }
}